{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":5,"column":4},"end":{"row":5,"column":5},"action":"remove","lines":["*"],"id":24}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":4},"end":{"row":5,"column":4},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1588707139259,"hash":"c4842b057b60a0994618811c1a14fbbd477f9d4f"}