{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":1560,"scrollleft":0,"selection":{"start":{"row":124,"column":13},"end":{"row":124,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":110,"state":"start","mode":"ace/mode/text"}},"timestamp":1588703357619,"hash":"909a398cd4ee5e5ce00888aeeea431492203539d"}